<div fxLayout='column' class="zero" style="background-color: #EEEEEE;">
    <mat-toolbar class="hotels-card mat-elevation-z1" style="background-color: #0b48a0;">
        <img [ngClass]="mobile ? 'center' : ''" src="../../assets/images/logo-aviatur.svg" alt="Aviatur Logo">
    </mat-toolbar>

    <div [ngStyle]="{'flex-direction': mobile ? 'column' : 'row'}" fxFlex="100%" fxLayout="row">
        <div fxFlex="{{mobile ? '100%':'20%'}}" style="margin: 1rem;">
            <ng-template #contentTemplate>


                <div *ngIf="!mobile" style="margin-bottom: 1rem;">
                    <span style="font-size: 24px; color: darkgray;">Filtros</span>
                </div>
                <mat-card class="filter-card mat-elevation-z1">
                    <mat-list>
                        <mat-list-item>
                            <div class="subtitle-default">
                                <img class="icon" src="../../assets/icons/filters/search.svg" alt="Search">
                                <div class="text-justify">Nombre del Hotel</div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item style="height: fit-content; padding: 5px; ">
                            <div style="margin-right: 1rem;" fxFlex="100%" fxLayout="row">
                                <mat-form-field class="search" fxFlex="90%">
                                    <input #in (input)="data.queryBy({search: in.value})" type="text" matInput
                                        placeholder="Hotel">
                                </mat-form-field>
                                <br>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>

                            <div class="subtitle-default">
                                <img class="icon" src="../../assets/icons/filters/star.svg" alt="Search">
                                <div class="text-justify">Estrellas</div>
                            </div>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <br>

                        <div class="item-default">
                            <mat-checkbox [color]="'primary'" [(ngModel)]="allStars" (change)="vaciarChecks()">
                            </mat-checkbox>
                            <div class="text-justify">
                                Todas las estrellas
                            </div>
                        </div>
                        <div class="item-default" *ngFor="let item of stars; let i=index">
                            <mat-checkbox [(ngModel)]="item.isSelected" [color]="'primary'"
                                (change)="validarChecks(i+1)">
                            </mat-checkbox>
                            <div class="text-justify">

                                <img class="icon filter-yellow" *ngFor="let number of Arr(i+1).fill(1)"
                                    src="../../assets/icons/filters/star.svg" alt="Search">
                            </div>
                        </div>
                        <br>
                    </mat-list>
                </mat-card>
                <br>
            </ng-template>

            <mat-expansion-panel *ngIf="mobile">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Filtros
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            </mat-expansion-panel>
        

            <div *ngIf="!mobile">
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            </div>

            <mat-paginator *ngIf=" data.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size"
                [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="data.fetch($event.pageIndex, $event.pageSize) "class="mat-elevation-z1">
            </mat-paginator>
        </div>
        <div fxFlex="{{mobile ? '100%':'80%'}}" class="two_two">
            <br>
            <table mat-table [dataSource]="data" 
                style="background-color: transparent; width:100%;">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let hotel"style="border-bottom: 0px">
                        <br>
                        <mat-card class="hotels-card mat-elevation-z1">
                            <div [ngStyle]="{'flex-direction': mobile ? 'column' : 'row'}" fxFlex="100%" fxLayout="row">
                                <div  fxFlex="{{mobile ? '100%':'80%'}}" style="margin: 1rem; ">
                                    <div [ngClass]="mobile ? 'item-default-mobile' : 'item-default'">
                                        <img [ngClass]="mobile ? 'center-mobile' : ''" src="{{'../../assets/images/hotels/'+hotel.image}}" alt="Search">
                                        <div>
                                            <div class="nombre-hotel text-justify"style="margin-left: 2rem;"> {{hotel.name}}</div>

                                            <div class="text-justify" style="margin-left: 2rem;">
                                                <img class="icon filter-yellow"
                                                    *ngFor="let number of Arr(hotel.stars).fill(1)"
                                                    src="../../assets/icons/filters/star.svg" alt="Search">
                                            </div>

                                            <div class="text-justify" style="margin-left: 2rem;">
                                                <img class="icon" *ngFor="let icono of hotel.amenities"
                                                    src="{{'../../assets/icons/amenities/'+icono+'.svg'}}" alt="Search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <mat-divider [vertical]="true" *ngIf="!mobile"></mat-divider>                            
                                <div fxFlex="{{mobile ? '100%':'20%'}}" style="margin: 1rem; ">
                                    <div class="text-center">
                                        <p class="desc">Precio por noche por habitacion</p>

                                        <p class="precios">ARS <b>{{hotel.price}}</b></p>

                                        <button mat-raised-button style="background-color: #0b48a0;color: white;">VER HOTEL</button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" hidden></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
</div>